.no-mathml {
  @import (less) 'katex/dist/katex.min.css';

  .katex .katex-mathml {
    display: none;
  }
  .katex .katex-html {
    display: inline-block;
  }
}

.mathml {
  .katex .katex-html {
    display: none;
  }
  .katex .katex-mathml {
    display: inline-block;
  }
}

h1 {
  font-weight: bold;
}
