.no-mathml {
  @import (less) 'katex/dist/katex.min.css';

  .katex .katex-mathml {
    display: none;
  }
  .katex .katex-html {
    display: inline-block;
  }
}

.mathml {
  .katex .katex-html {
    display: none;
  }
  .katex .katex-mathml {
    display: inline-block;
  }
}

.about-content {
  max-width: 800px;
  margin: 0 auto;

  ul li {
    margin-bottom: 8px;
  }

  .math-block {
    text-align: center;
    font-size: 1.1em;
    margin: 16px 0;
  }
}
