@screen-sm: 576px;

.event-name {
  text-align: center;
}

@media (max-width: @screen-sm) {
  .small-screen-warning {
    display: block;
  }
}

@media (min-width: @screen-sm) {
  .small-screen-warning {
    display: none;
  }
}
